#principal {
    width: 970px;
    background-color: #225176;
    min-height: 300px;
}

#div4 {
    background-color: white;
    padding-top: 10px;
}

#divSuperior {
    display: inline-block;
    width: 588px;
    vertical-align: top;
    text-align: right;
}

#textSuperior {
    margin-right: 38px;
    margin-block-end: 0;
}

#pie {
    min-width: 100px;
    text-align: center;
}

.textoBlanco {
    color: white;
}

.colorPie {
    color: #82b4E0;
    font-size: 11px;
    padding: 10px;
}

#searhImput {
    height: 35px;
    margin-top: 9px;
    text-align: center;
}

#imputGo {
    margin-right: 15px;
    height: 30px;
    border: 1px solid white;
    background-color: #225176;
    border-radius: 5px;
    color: white;
}

#divFormulario {
    height: 60px;
    width: 260px;
    background-color: #444444;
    margin-left: 325px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
}

.linksNaranjas {
    color: #EAC43F;
}

.textoContenido {
    font-size: 23px;
    padding: 0px 200px 0 200px;
}

.imagen-fila1-1 {
    width: 350px;
    margin-left: 20px;
    margin-top: 5px;
}


/* .test{
    border: 2px solid red;
    min-height: 100px;
} */

.cuadroBlanco {
    display: inline-block;
    width: 370px;
    margin-left: 34px;
    border-top: 5px solid #71A8D5;
    vertical-align: top;
    text-align: center;
    padding-left: 20px;
    padding-right: 30px;
}

#pie li {
    display: inline-block;
    color: #82b4E0;
    margin-left: 50px;
    font-size: 22px;
}


/* estos estilos son del menu */


/* *{margin:0;padding:0;box-sizing:border-box;font-size:0;} */

nav {
    padding-left: 100px;
}

nav * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 22px;
}

nav li {
    display: inline-block;
    /* width:10%; */
    padding: 10px 23px;
    background-color: #3D7BAD;
    /* border:1px solid #000; */
    text-align: center;
    color: #fff;
}

nav li:hover {
    background-color: #fff;
    color: #000;
}

nav ul {
    display: inline-block;
    box-shadow: 3px 3px 3px black;
}

.menuStart {
    border-radius: 8px 0px 0px 8px;
}

.menuEnd {
    border-radius: 0px 8px 8px 0px;
}

.size14 {
    font-size: 14px;
}

.cornflowerblue {
    color: cornflowerblue
}

#divContenidoIzquierdo {
    display: inline-block;
    width: 260px;
    text-align: center;
    vertical-align: top;
}

#divContenidoIzquierdo a {
    color: white;
}

#divContenidoIzquierdo li {
    height: 25px;
}

#divContenidoIzquierdo li::marker {
    color: #EAC43F;
    font-size: 1.5em;
}

#divContenidoIzquierdo ul {
    display: inline-block;
    list-style-position: inside;
}

#divContenidoDerecho {
    display: inline-block;
    width: 690px;
    vertical-align: top;
}